
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "SystemSet";
    ViewBag.SecondMenu = "UserManager";
}
<link href="/lib/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">主页</a>
            </li>
            <li>
                <a>系统设置</a>
            </li>
            <li class="active">
                <strong>用户管理</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用户列表 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">选项 1</a>
                            </li>
                            <li>
                                <a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>手机号</th>
                                <th>状态</th>
                                <th>邮箱</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>小明</td>
                                <td>15220231801</td>
                                <td>

                                </td>
                                <td>wangxiaoming@qq.com</td>
                                <td>
                               
                                </td>
                            </tr>
                            <tr>
                                <td>小红</td>
                                <td>15220231801</td>
                                <td>
                                 
                                </td>
                                <td>wangxiaohong@qq.com</td>
                                <td>wangxiaohong@qq.com</td>
                            </tr>
                            <tr>
                                <td>小黑</td>
                                <td>15220231801</td>
                                <td>
                                    
                                </td>
                                <td>wangxiaohei@qq.com</td>
                                <td>wangxiaohong@qq.com</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

