
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "StatisticsAnalysis";
    ViewBag.SecondMenu = "CouponReceiveStatistics";
}

@using System.Data
@using X.PagedList

@model PagedList<DataRow>
<style>
    .swal2-container {
        z-index: 10000;
    }

    .chosen-container {
        margin-bottom: 15px;
        min-width: 10vw;
    }
</style>
<h2>List</h2>

