@using UnionMall.Web.Models.Common.Modals
@model ModalHeaderViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">
        <span>@L("TenancyName")</span>
    </h4>
</div>
