
@{
    Layout = null;
}
<div class="form-horizontal">
    <div class="goodsAdd">
        <div class="goodsType">
            @Html.Raw(ViewBag.Spec)
        </div>
    </div>
</div>
<script>
    var subData = {};
    var showData = [];
    var goodsType = document.querySelector(".goodsType");
    //初始化
    if ($(".simple_tag").length>0) {
        $(".simple_tag").each(function () {
            if ($(this).hasClass("active")) {
                var exist = false;
                for (var type in subData) {
                    if (type == $(this).attr("data-spec")) {
                        exist = true;
                        subData[type].push($(this).attr("data-objid"));
                    }
                }
                if (exist == false) {
                    subData[ $(this).attr("data-spec")] = [];
                    subData[$(this).attr("data-spec")].push($(this).attr("data-objid"));
                }
            }
        });
    }


    //点击商品类型效果
    function select(ele, e, val) {
        if ($(ele).hasClass("active")) {
            $(ele).removeClass("active");
            typeDel(e, val);
        } else {
            $(ele).addClass("active");
            typeAdd(e, val);
        }
    }

    //增加一个类别
    function typeAdd(e, val) {
        var exist = false;
        for (var type in subData) {
            if (type == e) {
                exist = true;
                subData[type].push(val);
            }
        }
        if (exist == false) {
            subData[e] = [];
            subData[e].push(val);
        }
        renders(subData);
        SetInputData();
    }

    //删除一个类别
    function typeDel(e, val) {
        for (var type in subData) {
            if (type == e) {
                for (var i = 0, len = subData[type].length; i < len; i++) {
                    if (subData[type][i] == val) {
                        subData[type].splice(i, 1)
                    }
                }
            }
        }
        if ($("span.active").length == 0) {
            $(".goodsLists").find("tbody").html('');
            return;
        }
        renders(subData);
        SetInputData();
    }

    //根据最终数据, 渲染页面
    function renders(data) {
        showData = [];
        /* 排序, 类型少的在前 */
        var sort = [];
        for (var key in data) {
            if (data[key].length != 0) {
                sort.push(data[key].length)
            }
        }
      //  sort.sort();
        var length = sort.length;
        for (var i = 0; i < length; i++) {
            for (var key in data) {
                if (data[key].length == sort[0]) {
                    var obj = {};
                    obj.key = key;
                    obj.val = data[key];
                    showData.push(obj)
                    sort.shift();
                }
            }
        }

    /* 排序结束 */
        var nums = 1;
        for (var key in data) {
            nums = data[key].length * nums;
        }

        var th = "<tr>";
        var showArr = [];
        for (var i = 0, len = showData.length; i < len; i++) {
            th += "<th>" + showData[i].key + "</th>";
            showArr.push(showData[i].val);
        }
        th += "<th>@L("Price")</th><th>@L("RetailPrice")</th><th>@L("Count")</th><th>SKU</th> </tr>";
        /* 将商品转换为dom节点 */
        for (var i = 0, len = showData.length; i < len; i++) {
            var data = showData[i].val;
            showData[i].dom = [];
            for (var j = 0, length = data.length; j < length; j++) {
                var str = "<td data-spec=\"" + $("span[data-objid='" + data[j] + "']").attr("data-specid") + "\"\
 data-value=\"" + data[j] + "\">" + $("span[data-objid='" + data[j] + "']").html() + "</td>";

                showData[i].dom.push(str);
            }
        }
        /* 将dom元素一一合并 */
        var doms = showData[0].dom;
        for (var i = 1, len = showData.length; i < len; i++) {
            doms = matching(doms, showData[i].dom)
        }
        var tbody = "";
        for (var i = 0, len = doms.length; i < len; i++) {
            //var exists = false;
            //$(".goodsLists").find("tr").not().each(function () {
            //    if ($(this).find("th").html() == undefined) {
            //        debugger;
            //        if (String($(this).html()).indexOf(doms[i]) > -1) {
            //            exists = true;
            //        }
            //    }
            //    if (exists) {
            //        return false;
            //    }
            //});
            //if (exists) {
            //    continue;
            //}

            var str = "<tr>" + doms[i] + "<td><input type='number' name='price' /></td>\
                <td> <input type='number' name='RetailPrice' /></td>\
                <td> <input type='number'name='Stock' /></td> <td><input type='text' name=SKU /></td>" + "</tr > ";

            tbody += str;
        }

        var goodsLists = document.querySelector(".goodsLists");
        goodsLists.innerHTML = th + tbody;
        return;


        if ($(".goodsLists").find("th").html() == undefined) {
            tbody= th + tbody;
         }

        if ($("input[name='Id']").val() != "0" && $("input[name='Id']").val()!= "") {
            $(".goodsLists").find("tbody").append(tbody);
        } else {
            //if ($(".goodsLists").find("th").html() == undefined) {
            //    goodsLists.innerHTML = th + tbody;
            //} else {
            //    $(".goodsLists").find("tbody").append(tbody);

            //}
            goodsLists.innerHTML +=  tbody;

        }


    }

    //将两个数组内的每个元素一一匹配 (数组元素为字符串)
    function matching(arr1, arr2) {
        var arr = [];
        for (var i = 0, len = arr1.length; i < len; i++) {
            for (var j = 0, length = arr2.length; j < length; j++) {
                var str = arr1[i] + arr2[j];
                arr.push(str);
            }
        }
        return arr;
    }
    $(function () {
        clearObjectStore();
        CreatDataToDataBase();
    });
</script>

<script src="~/view-resources/Areas/GoodsManage/_addSpec.js"></script>