
@{
    ViewData["Title"] = "_Add";
    Layout = null;
}
<div class="modal inmodal fade in" id="category" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">模态标题</h4>
                <small class="font-bold">副标题副标题副标题</small>
            </div>
            <div class="modal-body">
                <p><strong>内容测试</strong> 内容测试内容测试内容测试内容测试内容测试内容测试内容测试</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交保存</button>
            </div>
        </div>
    </div>
</div>

