
@{
    ViewData["Title"] = "_TableChat";
    Layout = null;
}

<div id="container" style="min-width:400px;height:400px"></div>
<input type="hidden" id="title" value="@L("MemberConsumeStatistics")" />
<input type="hidden" id="ytitle" value="@L("Total") (@L("Yuan"))" />
<input type="hidden" id="xT" value="@L("Total")" />
<script>

        var chart = null;
        // 获取 CSV 数据并初始化图表

        var chart = Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            plotOptions: {
                column: { pointWidth:40}
            },
            title: {
                text: $("#title").val()
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: 0  // 设置轴标签旋转角度
                    , style: { color: 'black', fontSize: '14px' }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: $("#ytitle").val()
                }
            },
            legend: {
                enabled: false
            }, credits: {
                enabled: false // 禁用版权信息
            },
            series: [{
                name: $("#xT").val(),
                color: '#23c6c8',
                data: [@Html.Raw(ViewBag.Str)],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: 'white',
                    align: 'right',
                    y: 10
                }
            }]
        });
    
</script>
